{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="row gy-5 justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card rounded-0 shadow-sm">
                <div class="card-body">
                    <div class="wrapper d-flex mb-3">
                        {% if product.image %}
                            <img src="{{ product.image }}" class="image" alt="product img">
                        {% else %}
                            <img src="https://via.placeholder.com/250x250" class="image" alt="product img">
                        {% endif %}
                        <div class="info ms-3">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <h6 class="card-subtitle text-muted mb-3">{{ product.category }}</h6>
                            <p class="fw-bold">{{ product.price }}$</p>
                            <p>Amount: {{ product.amount }}</p>

                            <div class="btn-group" role="group">
                                <a href="{% url 'product_edit' product.pk %}" type="button" class="btn btn-sm btn-warning">Edit</a>
                                <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-product">Delete</a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modal-product" tabindex="-1"
                                 aria-labelledby="modal-product-label"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ product.title }}</h1>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete it permanently?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                                            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">OK</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>Description:</h5>
                    <div class="card-text">{{ product.description }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}