{% extends 'base.html' %}
{% load static %}

{% block title %}
    Result
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-end mb-4">
        <div class="col-12 col-lg-9">
            <form action="{% url 'product_search' %}" method="GET">
                {% include 'products/includes/search_form.html' %}
            </form>
        </div>
    </div>

    <div class="row gy-5">
        <div class="col-12 col-lg-3">
            {% include 'products/includes/accordion.html' %}
        </div>
        <div class="col-12 col-lg-9">
            <div class="row g-4">
                {% if products %}
                    {% for product in products %}
                        {% include 'products/includes/card.html' %}
                    {% endfor %}
                {% else %}
                    <h2 class="text-center">No result found</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}